name: Packager

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Clone project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package and Release
        uses: BigWigsMods/packager@v2
        env:
          # The token must be in 'env', not 'with'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Note: We removed the 'with: args: -d' block entirely.
